# =============================================
# FICHIER DE CONFIGURATION - ElectroMaison API
# =============================================
# IMPORTANT : Ne jamais mettre ce fichier sur GitHub !
# Renomme ce fichier en ".env" (sans le .example)

# --- Connexion MongoDB Atlas ---
# Remplace par ton URL MongoDB Atlas (copié depuis le site)
MONGO_URI=mongodb+srv://db_user:teizineslie@cluster0.bcgdc4e.mongodb.net/?appName=Cluster0



# --- Clé secrète JWT mongodb+srv://db_user:teizineslie@cluster0.bcgdc4e.mongodb.net/electromaison ---
# Mets n'importe quelle longue chaîne aléatoire ici (ex: azerty123456789abcdef)
JWT_SECRET=qwerty123456789abcdef

# --- Durée de validité du token de connexion ---
JWT_EXPIRES_IN=7d

# --- Port du serveur ---
PORT=5000

# --- Environnement ---
NODE_ENV=development
